                   <% pquery = !!(defined? add_query) ? add_query : '' %>
<ul class="pagination">
                        <li ><a href="?<%=pquery%>&pg=<%= @pagination[:prev_page] %> " >Prev</a></li>
                        <% if @pagination[:first_page] != @pagination[:current_page] && !@pagination[:prev_pages].include?(@pagination[:first_page])%>
                        <li ><a href="?<%=pquery%>&pg=<%= @pagination[:first_page] %>" ><%= @pagination[:first_page] %></a></li>
                                <%  if !@pagination[:prev_pages].include?(@pagination[:first_page]+1)%>
                                 <li class="disabled"><a href="#">...</a></li>
                                 <% end %>
                        <% end %>
                        <% @pagination[:prev_pages].each do |value| %>
                        <li><a href="?<%=pquery%>&pg=<%= value %>" ><%= value %></a> </li>
                        <% end %>

                        <li class="active"><a href="#"><%= @pagination[:current_page] %></a></li>
                        
                        <% @pagination[:next_pages].each do |value| %>
                        <li><a href="?<%=pquery%>&pg=<%= value %>" ><%= value %></a> </li>
                        <% end %>
                        <% if @pagination[:last_page] != @pagination[:current_page] && !@pagination[:next_pages].include?(@pagination[:last_page]) %>                        
                                <%  if !@pagination[:next_pages].include?(@pagination[:last_page]-1)%>
                                 <li class="disabled"><a href="#">...</a></li>
                                 <% end %>                      
                        <li ><a href="?<%=pquery%>&pg=<%= @pagination[:last_page] %>" ><%= @pagination[:last_page] %></a></li>
                        <% end %>
                        <li ><a href="?<%=pquery%>&pg=<%= @pagination[:next_page] %>" >Next</a></li>                         
                </ul>