  <% @properties.each do |p| %>
<% address = "#{p.address}, #{p.city}, #{p.state}, #{p.zip}" %>
<% bookmark = p.user_bookmark(@current_user) %>
  <div class="property-box pull-left" data-property-id="<%=p.id%>" >
<div ><img class="img-thumbnail img-responsive center-block" src="<%=p.img_thumbnail%>" /></div>
      <div class="address"><%=address%> </div>
      <div> Listing Type: <span><%= p.auction ? 'Auction' : 'Buy Now' %> </span></div>
      <div> Sale Type: <span><%= p.internet_sale ? 'Internet Sale' : 'Live Sale' %> </span></div>      
      <div> Current Price: <span><%= number_to_currency(p.current_price) %> </span></div> 
      <div> Sale Date: <span><%= p.start_date %> </span></div>      
      <div> Source: <span><%= p.source.url %> </span></div> 
      <div> Date Listed: <span><%= p.listed_date %> </span></div>    
      <div> Property Id: <span><%= p.id %> </span></div>        
      <div class=""><a class="btn btn-primary center-block" href="<%= p.asset_url %>" target="_blank">See Original Listing</a></div>
      <%= render partial: 'bookmark', locals: {bookmark: bookmark} %>
  </div>
  <% end %>
<div class="clearfix"></div>