<% provide(:title, "Metamls") %>
    <main>
  <% @properties.each do |p| %>
<% address = "#{p.address}, #{p.city}, #{p.state}, #{p.zip}" %>
  <div class="property-box pull-left">
<div ><img class="img-thumbnail img-responsive center-block" src="<%=p.img_thumbnail%>" /></div>
      <div class="address"><%=address%> </div>
      <div> Listing Type: <span><%= p.auction ? 'Auction' : 'Buy Now' %> </span></div>
      <div> Sale Type: <span><%= p.internet_sale ? 'Internet Sale' : 'Live Sale' %> </span></div>      
      <div> Current Price: <span>$ <%= p.current_price %> </span></div> 
      <div> Sale Date: <span><%= p.start_date %> </span></div>      
      <div> Source: <span><%= p.source.url %> </span></div> 
      <div> Date Listed: <span><%= p.listed_date %> </span></div>    
      <div class=""><a class="btn btn-primary center-block" href="<%= p.asset_url %>" target="_blank">See Original Listing</a></div>
  </div>
  <% end %>
        <div class="clearfix"></div>

                    <ul class="pagination">
                        <li ><a href="/?pg=<%= @pagination[:prev_page] %> " >Prev</a></li>
                        <% if @pagination[:first_page] != @pagination[:current_page] && !@pagination[:prev_pages].include?(@pagination[:first_page])%>
                        <li ><a href="/?pg=<%= @pagination[:first_page] %>" ><%= @pagination[:first_page] %></a></li>
                                <%  if !@pagination[:prev_pages].include?(@pagination[:first_page]+1)%>
                                 <li class="disabled"><a href="#">...</a></li>
                                 <% end %>
                        <% end %>
                        <% @pagination[:prev_pages].each do |value| %>
                        <li><a href="/?pg=<%= value %>" ><%= value %></a> </li>
                        <% end %>

                        <li class="active"><a href="#"><%= @pagination[:current_page] %></a></li>
                        
                        <% @pagination[:next_pages].each do |value| %>
                        <li><a href="/?pg=<%= value %>" ><%= value %></a> </li>
                        <% end %>
                        <% if @pagination[:last_page] != @pagination[:current_page] && !@pagination[:next_pages].include?(@pagination[:last_page]) %>                        
                                <%  if !@pagination[:next_pages].include?(@pagination[:last_page]-1)%>
                                 <li class="disabled"><a href="#">...</a></li>
                                 <% end %>                      
                        <li ><a href="/?pg=<%= @pagination[:last_page] %>" ><%= @pagination[:last_page] %></a></li>
                        <% end %>
                        <li ><a href="/?pg=<%= @pagination[:next_page] %>" >Next</a></li>                         
                </ul>
          
</main>
