<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
    <div class="container-responsive">
    <header class="navbar navbar-default">
        <div class="pull-left logo" ><a href="/" >MetaMLS</a></div>
             <%= render 'layouts/user_block' unless !logged_in? %>
            <%=  render 'layouts/guest_block' unless logged_in? %>
    </header>
        <% if flash[:notice] %>
        <div class="alert"><%= flash[:notice]  %></div>
        <% end %>        
<%= yield %>
    <footer>Metamls (c) 2015</footer>
    </div>
</body>
</html>
